<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChemSimLab</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Reagents</h1>
        <form id="inputForm" method="post" action="/get_data">
            <label for="input1">Reagent 1:</label>
            <input type="text" id="input1" name="input1">

            <label for="input2">Reagent 2:</label>
            <input type="text" id="input2" name="input2">

            <button type="submit">Submit</button>
        </form>
        <div id="result"></div>
    </div>
    <script>
        async function calculateSum() {
            const num1 = document.getElementById('number1').value;
            const num2 = document.getElementById('number2').value;

            const response = await fetch('http://localhost:5000/sum', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ number1: num1, number2: num2 }),
            });

            const data = await response.json();
            document.getElementById('result').innerText = 'Sum: ' + data.sum;
        }
    </script>
</body>
</html>

